youtube.json
.vscode
.git
.env
node_modules
client_secret.json
__pycache__
backend/db/cookies.txt
backend/db/database.sqlite3
backend/yt_dlp_video.json
backend/log/*
!backend/log/README.md
videos/*
!videos/README.md
ssl/*
!ssl/README.md