youtube.json
.vscode
.git
.env
node_modules
client_secret.json
__pycache__
backend/db/cookies.txt
backend/db/database.sqlite3
videos/*
!videos/README.md
backend/yt_dlp_video.json
backend/log/*.log
frontend/ssl/*
ssl/*
!ssl/README.md